{% extends 'exam/adminbase.html' %}
{% block content %}
{% load static %}

<div class="container">
    <h1 class="text-center">Tiến Độ Học Tập Của {{ student.user.username }}</h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="text-center">Học Sinh</th>
                <th class="text-center">Lớp</th>
                <th class="text-center">Khóa học</th>
                <th class="text-center">Tiến độ</th>
                <th class="text-center">Cập nhật lần cuối</th>
            </tr>
        </thead>
        <tbody>
            {% for item in students %}
            <tr>
                <td class="text-center">{{ item.student.get_name }}</td>
                <td class="text-center">{{item.student.address}}</td>
                <td class="text-center">{{ item.course.course_name }}</td>
                <td class="text-center">{{ item.progress_percentage }}% </td>
                <td class="text-center">{{ item.last_updated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}